<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oops</title>
</head>
<body>
    {{data}}
    <form method="post">
        <input type="text" name="name" placeholder="enter the name">
        <input type="number" name="age" placeholder="enter the age">
        <input type="text" name="purchased" placeholder="enter purchased_item">
        <input type="number" name="amount" placeholder="Enter the amount">
        <input type="submit">
    </form>
</body>
</html>